.body {
    width: 1440px;
    height: 3372px;
    margin: 0;
    
}
.text {
    word-spacing: -15px;
    text-align: center;
    word-spacing: none;
    font-size: 48px;
}
.stand {
    color: #0BBBD3;
}
.with {
    color:black;
}
.ukraine {
    color: #28CDE3;
}

.image1 { 
    background-image: url('../img/Успенський\ собор\ 1.jpg');
    width: 100%;
    height: 852px;
    left: 0px;
    top: 103px; 
}

.fs1 { 
    background-image: url('../img/flag.png');
    background-repeat: no-repeat;
    background-position: left 80px top 220px;
    height: 400px;
    text-transform: uppercase;
    font-size: 64px;
    color: #FFFFFF;
    padding-left: 163px;
    padding-top: 248px;   
    
}


.vm { 
   
    margin-left: 76px;
    font-size: 48px;
    margin-top: 60px;     
    border-bottom: 5px solid #33B8F1;
    width: 500px;
    margin-bottom: 120px;
}


.sad {
    font-size: 36px;
    color: #030303;
    margin: 0px;
}
.park {
    font-size: 32px;
    line-height: 167.02%;
    color: #595050;
    padding-left: 7px;
}

.bor {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bord {

    border-radius: 30px;
    border-color: aliceblue;    
    box-shadow: 0px 4px 6px 5px;
    
    
}
.letter { 
    text-align: center;    
    text-transform: uppercase;
    font-size: 48px;
    border-bottom: 5px solid #33B8F1;
    width: 473px;
    margin-left: 470px;
   
}

.heart { 
    width: 973px;
    height: 877px;
    margin-left: 255px;
}
.pid {
    text-align: center;
    margin-left: 555px;
    text-transform: uppercase;
    background-color: #33ADF1;
    font-size: 48px;
    width: 430px;
    height: 74px;
    color: #ffff;
    margin-top: auto;
    margin-bottom: 176px;

}
.swu {
    text-align: center;
    word-spacing: -20px;
    font-size: 64px;
}
.back {
    background-color: #0A2DA9;
    width: 100%;
    height: 450px;
    
    
}
.w1 {
    color: #0BBBD3;
}
.w2 {
    color:#F8F5F5;
}
.w3 {
    color: #28CDE3;
}
.link {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    color: yellow;
}
.social {
    text-align: center;
}
.socialback {
   
    background-color: blue;
    padding: 10px;
    border-radius: 50%;
    margin: 20px;
}

